/__pycache__
/base.npy
/base_finetune.npy
/checkpoints
/config.py
/data
/dd.ipynb
/logs
/multi_bertsmall_0fold_code1_120k.npy
/multi_bertsmall_0fold_code1_70k.npy
/multi_bertsmall_0fold_code2_120k.npy
/multi_bertsmall_0fold_code2_70k.npy
/not_train_sims.pt
/npys
/pre.ipynb
/pre2.ipynb
/preprocessing.py
/preprocessing_sharp.py
/pytorch_model_0fold_120k.bin
/pytorch_model_0fold_70k.bin
/results
/sbert.ipynb
/solution.ipynb
/submission
/summary.ipynb
/test.ipynb
/test.py
/test.sh
/test_cross.py
/tmp_trainer
/train.py
/train.sh
/train_cos.py
/train_cross.py
/train_cross_finetuning.py
/train_custom.py
/train_sbert.py